.experience-background {
  background-color: #343;
  border-top: 5px;
  border-color: white;
}

.experiences-title {
  background-color: #2255AA;
  color: white !important;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0.5em;
  border: 1;
  border-style: solid;
  border-color: white;
  font-size: x-large;
}

.vertical-timeline {
  margin-top: 0 !important;
}

.vertical-timeline-element--work {

}

.vertical-timeline-element-date {
  color: white !important;
}
.vertical-timeline-element-title {
  font-size: 30px;
}

.vertical-timeline-element-subtitle {
  font-size: 20px;
}
