.projects-background {
  padding: 2em;
  min-height: 100vh;
  background-image: url("./project-bg.jpg");
}

.dark-title{
  color: white !important;
}

.slick-slider{
  padding-top: 2em;
}
.card-custom{
  margin: 1em;
}

.MuiGrid-item{
  padding: 1em
}

.project-tag {
  margin: 0.25em
}

.tags-space{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  justify-content: center;
}
