.skills-background {
  padding: 2em;
  min-height: 100vh;
}

.table-container {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.table {

}

.skill-cell {
  vertical-align: middle !important;
}
