#educationDiv {
  background-color: #DDD;
}

.title {
  padding: 1em 1em 0.25em 1em;
  top: 50%;
  color: #333;
}

h3 {
  text-align: center;
}

.low-padding {
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
}

.certifications_content{
  padding-left: 1em;
  padding-right: 1em;
}
