#skillsDiv{
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-left: 3em;
	padding-right: 3em;
	background-image:url('./skills_bg.png');
  position:relative;
	width:100%;
  color: #FFFFFF;
}

h1 {
  text-align: center;
  padding: 0.25em;
	padding-bottom: 0.5em
}

h2 {
  padding-bottom: 0.5em;
}

h3 {
	padding-bottom: 0.5em;
}

.donutchart-track{
  fill: transparent;
  stroke: #DAE2E5;
  stroke-width: 10;
}

.donutchart-indicator {
  fill: transparent;
  stroke: #009688;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}

.donutchart {
  margin: 3em auto;
  border-radius: 50%;
  display: block;
}

.donutchart-text{
  font-family: 'Roboto';
  fill: #FFFFFF;
}

.donutchart-text-label{
  font-size:12px;
  textAnchor: 'middle';
}

.bar-container {
		margin: 1em 1em 1em 0em;
		width: 100%;
    background-color: #ddd;
}

.bar-skill {
    text-align: left;
    padding: 2em;
    color: white;
}

.skillColumn {
	padding: 2em;
}
