.projects-background {
  padding: 2em;
  min-height: 100vh;
  background-image: url("./project-bg.jpg");
}

.dark-title{
  color: white !important;
}

.slick-slider{
  padding-top: 2em;
}
.card-custom{
  margin: 1em;
}
