.summary-background {
  background-color: white;
  background-image: url("./aboutMe_bg.jpg");
  color: black;
}

.summary-content {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  min-height: 100vh;
}

.tagline {
  font-size: 32px;
  background-color: #77F;
  border: 2px;
  border-style: solid;
  border-color: white;
  color: white;
  padding-left: 1em;
}

.What-I-do-title {
  color: black;
  margin-bottom: 1em;
  border: 2px;
  border-style: solid;
  boreder-color: white;
}

.icons {
  text-align: center !important;
}

.what-I-do-icons {
  font-size: 96px;
  padding-bottom: 0.2em;
  margin-top: 0.5em;
}

.desc {
  margin: 1rem ;
  margin-top: 3em !important;
  padding: 1em ;
  padding-top: 3em !important;
}

.quote {
  font-size: x-large;
  font-variant: petite-caps;
  font-style: italic;
  padding: 1rem;
  margin: 0rem;
}

.next-para{
  padding-top: 1em !important;
}

.workinfo {
  font-size: x-large;
  text-align: justify;
  padding: 1rem;
  margin: 0rem;
  /* font-family: monospace; */
}

.hobbyinfo {
  text-align: justify;
  padding: 1rem;
  margin: 0rem;
}
