.experience-background {
  background-image: url("./exp-bg.jpg");
  border-top: 5px;
  border-color: white;
  padding: 2em;
}

.vertical-timeline {
  margin-top: 0 !important;
}

.vertical-timeline-element--work {

}

.vertical-timeline-element-date {
  color: white !important;
  font-size: large;
}
.vertical-timeline-element-title {
  font-size: 30px;
}

.vertical-timeline-element-subtitle {
  font-size: 20px;
}

.list{
  box-shadow: none !important;
}

.list-item{
  border-bottom: none !important;
}
