#projectsDiv {
	background-image:url('./projects_bg.png');
}

.heading {
	background-color: #FFFFFF;
	text-align: center;
}

.showMore {
	font-size: 14px;
	text-align: left;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.card {
	margin-top: 1em;
	margin-bottom: 1em;
}
