#projectsDiv {
	background-image:url('./projects_bg.png');
}

.heading {
	background-color: #FFFFFF;
	text-align: center;
}

.showMore {
	font-size: 14px;
	text-align: left;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.card {
	margin-top: 1em;
	margin-bottom: 1em;
}

.projectsList{
	padding: 1em;
}

.projectSum{
	text-align: justify;
}

.projectDesc{
	text-align: justify;
}

.project-image {
  width: 100%;
  display: block;
  border-width: thin;
  box-shadow: 0 0 0 4px #fff;
}

.project-image-div{
	padding: 0.25em;
	padding-bottom: 1em;
}

.react-photo-gallery--gallery img{
	height: 120px !important;
	width: auto;
}
